# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PEAMK_LEFT
    bool "PeaMK Left"
    default y if $(shields_list_contains,peamk_r2c_left)
    default y if $(shields_list_contains,peamk_c2r_left)

config SHIELD_PEAMK_RIGHT
    bool "PeaMK Right"
    default y if $(shields_list_contains,peamk_r2c_right)
    default y if $(shields_list_contains,peamk_c2r_right)
